<html>
<style>
td {
    border: solid 2px black;
} 
</style>
<table style="border: 2px solid #990000; border-collapse: collapse">
    <thead>
      <tr>
        <th scope="col">SNo</th>
        <th scope="col">Name</th>
        <th scope="col">Mobile</th>
        <th scope="col">Position</th>
      </tr>
    </thead>
    <tbody>
        {% for i in emp %}
            
      <tr>
        <th scope="row"> {{loop.index}}  </th>
        <td>{{i['name']}}</td>
        <td>{{i['phone']}}</td>
        <td>{{i['position']}}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</html>